<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Tytuł</th>
            <th>Cena</th>
            <th>Data premiery</th>
            <th>Edycja</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of (data$ | async)">
            <td>{{d.id}}</td>
            <td>{{d.tytul}}</td>
            <td>{{d.cena | currency:'PLN'}}</td>
            <td>{{d.dataPremiery | date:"shortDate"}}</td>
            <td><a [routerLink]="d.id + ''">Przejdź do edycji</a></td>
        </tr>
    </tbody>
</table>

<a routerLink="/dodawanie">Przejdź do dodawania</a>