<form #formularz="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="tytul">Tytuł</label>
        <input required type="text" name="tytul" [(ngModel)]="tytul" />
    </div>
    <div>
        <label for="cena">Cena</label>
        <input required type="number" name="cena" [(ngModel)]="cena" />
    </div>
    <div>
        <label for="data">Data wydania</label>
        <input required type="date" name="data" [(ngModel)]="data" />
    </div>
    <input type="submit" [disabled]="formularz.invalid" value="Zapisz" />
</form>